body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul li:hover {
    border-bottom: 1px solid lightslategray;

}

.text-wrapper {
    color: white;
}

.effect {
    margin: 40px;
}

span {
    display: block;
    font-size: calc(1.5em + 0.5vw);
}

.text-effect1 p {
    border-left: 2px solid white;
    padding-left: 20px;
    transform: scaleY(0);
    animation: scaleUpBorder 1s forwards cubic-bezier(0.85, 0, 0.15, 1);
    overflow: hidden;
}

@keyframes scaleUpBorder {
    to {
        transform: scaleY(1);
    }
}

.text-effect1 .text-wrapper {
    transform: translateX(calc(-100% - 20px));
    animation: slideTextRight 1s 0.5s forwards cubic-bezier(0.85, 0, 0.15, 1);;
}

@keyframes slideTextRight {
    to {
        transform: translateX(0%);
    }
}

.img {
    width: 17rem;
    clip-path:circle();
}

.skill-container {
    width: 100%;
    background-color: white;
    padding-left: 1em;
}

.program {
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0;
    font-weight: bold;
}

.skills {
    text-align: right;
    padding-top: 1em;
    padding-bottom: 0em;
    color: black;
    height: 10px;
}

.html {
    width: 20%;
    background-color: green;
}

.css {
    width: 20%;
    background-color: burlywood;
}

.bootstrap {
    width: 10%;
    background-color: yellow;
}

footer {
    font-size: x-small;
}