body {
    margin: 0%;
    padding: 0%;
    /* background: linear-gradient(45deg, lightpink, white); */
}

/* header {
    width: 100vw;
    background: url(/assets/bannerflower.jpg);
    background-size: cover;
} */

ul li:hover {
    border-bottom: 1px solid lightslategray;

}
